nav#fixed-nav, nav#normal-nav .nav-container, footer {
  border: 0px;
  border-bottom: 3px solid transparent;
  -webkit-border-image: -webkit-linear-gradient( left , #db2719 0%, #ff7208 100%);
  border-image: linear-gradient(to right, #db2719 0%, #ff7208 100%);
  border-style: solid;
  border-image-slice: 1;
}

@media (min-width: 550px) {
  nav#normal-nav .nav-container, nav#fixed-nav .nav-container, nav#normal-nav .nav-link-container, nav#fixed-nav .nav-link-container, nav#normal-nav, .seasons .row, .twitter-row {
    display: flex;
    align-items: center;
  }
}

nav#normal-nav .nav-title, nav#fixed-nav .nav-title {
  display: flex;
  align-items: center;
}

.company h3, .contact h3 {
  text-align: center !important;
  margin-bottom: 40px;
}

.to-top, .description, .newsfeed {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  color: #f8f8f8;
  background: rgba(0, 0, 0, 0.45);
  border: 3px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

::selection {
  background-color: rgba(255, 114, 8, 0.35);
}

p, button, .kickstart-button {
  font-family: "Source Sans Pro", Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

p.contact, button.contact, .contact.kickstart-button {
  color: #263238;
}

a {
  text-decoration: none;
  color: #db2719;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}
a:hover {
  color: #ff5500;
  border-bottom: 2px solid #ff5500;
}

hr {
  width: 50px;
  border: 2px solid #f8f8f8;
  text-align: left;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
hr.contact {
  border-color: #263238;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
hr.seasons {
  margin-right: auto;
  margin-left: 0;
  text-align: left;
}

button, .kickstart-button {
  padding: 10px 20px;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
  background: transparent;
  transition: all 0.2s ease;
  font-size: 1.8rem;
}
button:hover, .kickstart-button:hover {
  background: #f8f8f8;
  color: #263238;
}

.kickstart-button {
  border-color: #2bde73;
  color: #f8f8f8;
}
.kickstart-button:hover {
  background: #2bde73;
  color: #263238;
}

.to-top {
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 99999;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #f8f8f8;
  padding: 0px 0px;
}
.to-top:hover {
  background: rgba(0, 0, 0, 0.85);
  color: #f8f8f8;
}

.to-top-content {
  display: flex;
  padding: 5px 10px;
}
.to-top-content i {
  margin-right: 10px;
}
.to-top-content p, .to-top-content button, .to-top-content .kickstart-button {
  margin: 0;
}

label {
  font-family: "Source Sans Pro", Verdana, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 550px) {
  label {
    font-size: 16px;
    text-align: left !important;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  padding: 20px 15px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #D1D1D1;
  background: #f8f8f8;
  transition: all 0.2s ease;
  box-shadow: inset 0px 0px 10px rgba(38, 50, 56, 0.2);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #ff7208;
  outline: 0;
  box-shadow: inset 0px 0px 5px rgba(38, 50, 56, 0.2);
}

nav#normal-nav, nav#fixed-nav {
  background: #263238;
  color: #f8f8f8;
}
nav#normal-nav .nav-title img, nav#fixed-nav .nav-title img {
  float: left;
}
nav#normal-nav .inline-logo, nav#fixed-nav .inline-logo {
  margin-right: 10px;
  width: 40px;
}
@media (min-width: 550px) {
  nav#normal-nav .nav-container, nav#fixed-nav .nav-container {
    overflow-y: hidden;
    padding: 0px 30px 0px 30px;
  }
  nav#normal-nav .nav-link-container, nav#fixed-nav .nav-link-container {
    margin-left: auto;
  }
  nav#normal-nav .navigation-list, nav#fixed-nav .navigation-list {
    list-style-type: none;
    margin: 0;
  }
  nav#normal-nav .navigation-list li, nav#fixed-nav .navigation-list li {
    display: inline-block;
  }
  nav#normal-nav .navigation-list li a, nav#fixed-nav .navigation-list li a {
    text-decoration: none;
    color: #f8f8f8;
  }
  nav#normal-nav .navigation-list li a:hover, nav#fixed-nav .navigation-list li a:hover {
    background: rgba(219, 39, 25, 0.5);
    color: #fff;
  }
}

nav#fixed-nav {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  width: 100%;
  float: none;
  z-index: 99;
  display: none;
}
nav#fixed-nav .nav-container {
  padding: 10px 30px;
}
@media (max-width: 550px) {
  nav#fixed-nav {
    display: none !important;
  }
}
@media (min-width: 550px) {
  nav#fixed-nav li a {
    padding: 10px 5px;
  }
  nav#fixed-nav .navigation-list {
    display: flex;
  }
}
@media (min-width: 700px) {
  nav#fixed-nav li {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  nav#fixed-nav li a {
    padding: 25px 20px;
  }
  nav#fixed-nav .nav-container {
    padding: 0px 30px;
  }
}

nav#normal-nav {
  position: fixed;
  z-index: 80;
  width: 100%;
}
nav#normal-nav .nav-container {
  height: 80px;
  overflow-y: hidden;
}
nav#normal-nav .title-container {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}
nav#normal-nav .nav-title {
  width: 85%;
  float: left;
}
nav#normal-nav .hamburger {
  float: right;
  padding: 0 5px 5px 5px;
  border-radius: 3px;
  cursor: pointer;
}
nav#normal-nav .hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  border-radius: 3px;
  background: -webkit-linear-gradient(left, #db2719 0%, #ff7208 100%);
  background: linear-gradient(to right, #db2719 0%, #ff7208 100%);
}
nav#normal-nav .navigation-list {
  list-style-type: none;
  text-align: center;
}
nav#normal-nav .navigation-list li {
  padding: 10px;
}
nav#normal-nav .navigation-list li a {
  padding: 10px 30px;
  color: #f8f8f8;
  border: none;
  width: 250px;
  border-radius: 5px;
}
nav#normal-nav .navigation-list li a:hover {
  border: none;
  background: rgba(219, 39, 25, 0.5);
}
@media (min-width: 550px) {
  nav#normal-nav {
    position: inherit;
  }
  nav#normal-nav .title-container {
    padding: initial;
  }
  nav#normal-nav .nav-title {
    width: 100%;
    float: none;
  }
  nav#normal-nav .hamburger {
    display: none;
  }
  nav#normal-nav .navigation-list {
    display: flex;
  }
  nav#normal-nav .navigation-list li a {
    padding: 15px;
    border-radius: 0;
  }
}
@media (min-width: 800px) {
  nav#normal-nav .navigation-list li {
    padding: 25px 0 25px 0;
  }
  nav#normal-nav .navigation-list li a {
    padding: 30px 25px;
  }
}

.hero {
  background: #263238;
  padding: 105px 30px 30px 30px;
}
@media (min-width: 550px) {
  .hero {
    padding: 75px;
  }
}
.hero .hero-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero .hero-content img {
  max-width: 80%;
  margin-bottom: 50px;
}
@media (min-width: 550px) {
  .hero .hero-content img {
    max-width: 30%;
  }
}
.hero .hero-content h5 {
  color: #f8f8f8;
  margin-bottom: 50px;
}

.seasons {
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../img/lowpolyland.jpg);
  background-position: center center;
  background-size: cover;
  color: #f8f8f8;
  text-align: center;
  padding: 50px 0;
}
@media (min-width: 550px) {
  .seasons {
    padding: 100px;
    text-align: left;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../img/lowpolyland.jpg);
  }
}
.seasons .row img {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  margin: 0;
  margin-bottom: 50px;
  border-radius: 5px;
}
@media (min-width: 550px) {
  .seasons .row img {
    margin-bottom: 0px;
  }
}

.description {
  padding: 15px;
}
@media (min-width: 550px) {
  .description {
    padding: 20px 30px;
  }
}
.description h3 {
  margin-top: 15px;
}
@media (max-width: 550px) {
  .description hr {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 550px) {
  .description .kickstart-button {
    margin-right: 15px;
  }
}

.company {
  padding: 50px 10px;
  background: #263238;
  color: #f8f8f8;
}
.company p, .company button, .company .kickstart-button {
  text-align: center;
  margin-bottom: 0;
}
.company hr {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.twitter-row img {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  margin: 0;
  border-radius: 5px;
}
@media (max-width: 550px) {
  .twitter-row img {
    margin-bottom: 50px;
  }
}

.twitter-timeline {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}
@media (max-width: 550px) {
  .twitter-timeline {
    height: 400px;
  }
}

.contact {
  padding: 50px 10px;
  background: #eaeaea;
  color: #263238;
}
.contact p, .contact button, .contact .kickstart-button {
  text-align: center;
}
.contact hr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-color: #263238;
  margin-bottom: 50px;
}
.contact textarea {
  min-height: 100px;
  width: 100% !important;
  padding: 10px 15px;
}
@media (min-width: 550px) {
  .contact textarea {
    min-height: 200px;
  }
}

.submit-button {
  transition: all 0.2s ease;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 15px;
  border: 2px solid #d1d1d1;
  box-shadow: inset 0px 0px 5px rgba(38, 50, 56, 0.2);
  background: #f8f8f8;
  text-align: center;
  border-radius: 5px;
}
.submit-button:hover {
  border: 2px solid #ff7208;
  box-shadow: inset 0px 0px 2px rgba(38, 50, 56, 0.2);
}

.newsfeed {
  margin-top: 50px;
  text-align: center;
  padding: 20px 40px;
}
@media (max-width: 550px) {
  .newsfeed {
    padding: 20px 10px;
  }
}
.newsfeed h3 {
  margin-bottom: 10px;
}
.newsfeed p, .newsfeed button, .newsfeed .kickstart-button {
  font-size: 2.3rem;
}
.newsfeed ul {
  overflow-y: scroll;
  max-height: 450px;
  list-style-type: none;
}

.news-tile {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}
.news-tile a {
  color: #f8f8f8;
}
.news-tile h5 {
  margin-bottom: 5px;
}
.news-tile p, .news-tile button, .news-tile .kickstart-button {
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
}
.news-tile hr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#scrollbar::-webkit-scrollbar {
  width: 4px;
  border: 2px solid rgba(0, 0, 0, 0.75);
}

#scrollbar::-webkit-scrollbar-thumb {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
  background-color: #f2f2f2;
}

footer {
  border-bottom: 5px solid transparent;
  text-align: center;
  padding: 30px;
  background: #263238;
  color: #f8f8f8;
}
footer h5 {
  margin-bottom: 20px;
}
@media (max-width: 550px) {
  footer h5 {
    font-size: 2.2rem;
  }
}
footer hr {
  text-align: center;
  margin: 150px auto 50px auto !important;
}
@media (min-width: 550px) {
  footer hr {
    display: none;
  }
}
footer i {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}
footer .social-icons a {
  color: #f8f8f8;
}
footer .social-icons a:hover {
  border-bottom: 0px solid transparent;
}

a#twitter-icon:hover {
  color: #55acee !important;
}

a#instagram-icon:hover {
  color: #3f729b !important;
}

a#facebook-icon:hover {
  color: #3b5998 !important;
}

a#tumblr-icon:hover {
  color: #35465c !important;
}

a#reddit-icon:hover {
  color: #5f99cf !important;
}

/*# sourceMappingURL=main.css.map */
